<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>버튼 요소</title>
  <link href="/css/common.css" rel="stylesheet">
</head>
<body>
  
  <div class="wrap pt-16">
    
    <!-- 버튼 종류 -->
    <div class="itmes col-span-6">
      <div class="font-20-r text-light mtb-16">ㆍPrimary button</div>
      <button class="btn-primary">로그인</button>
      <div class="font-20-r text-light mtb-16">ㆍSecondary button</div>
      <button class="btn-secondary">중복확인</button>
      <div class="font-20-r text-light mtb-16">ㆍText button</div>
    </div>
    
    <!-- 수정전 -->
    <!-- <div class="itmes col-span-3">
      <a class="btn-text">아이디ㆍ비밀번호 찾기</a>
    </div>
    <div class="itmes col-span-3 text-r">
      <a class="btn-text">회원가입</a>
    </div> -->
    <!-- 수정 후 -->
    <div class="col-span-6 btn-text-group">
      <a class="btn-text">아이디 찾기</a><span>|</span>
      <a class="btn-text">비밀번호 찾기</a><span>|</span>
      <a class="btn-text">회원가입</a>
    </div>


    <!-- 버튼 갯수 -->
    <div class="items col-span-6 mt-24">
      <div class="font-20-r text-light mtb-16">ㆍ One button</div>
    </div>
    <div class="itmes col-span-6">
      <button class="btn-secondary">로그인</button>
    </div>

    <div class="items col-span-6 mt-8">
      <div class="font-20-r text-light mtb-16">ㆍ Two button</div>
    </div>
    <div class="itmes col-span-3">
      <button class="btn-secondary" onclick="location.href='/index.html'">뒤로가기</button>
    </div>
    <div class="itmes col-span-3 mb-24">
      <button class="btn-secondary" onclick="location.href='/index.html'">메인으로</button>
    </div>

    <!-- secondary-42 버튼 추가 -->
    <div class="itmes col-span-3">
      <button class="btn-secondary-42" onclick="location.href='/index.html'">뒤로가기</button>
    </div>
    <div class="itmes col-span-3 mb-24">
      <button class="btn-primary">회원가입</button>
    </div>

  </div>

</body>
</html>