<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Modal 요소</title>
  <link href="/css/common.css" rel="stylesheet">
</head>
<body>

  <div class="wrap ptb-16" style="height: 400px;">
    <div class="items bg-gray-100 text-c opacity-35">1</div>
    <div class="items bg-gray-100 text-c opacity-35">2</div>
    <div class="items bg-gray-100 text-c opacity-35">3</div>
    <div class="items bg-gray-100 text-c opacity-35">4</div>
    <div class="items bg-gray-100 text-c opacity-35">5</div>
    <div class="items bg-gray-100 text-c opacity-35">6</div>
  </div>

  <!-- class="show" / class="no-show" 로 숨김제어 -->
  <div class="modal-wrap show">
    <div class="modal">

      <div class="modal-title">알림</div>
      <div class="modal-text">회원가입이 완료되었습니다.</div>
      <button class="btn-modal" onclick="location.href='/index.html'">로그인 화면으로</button>

    </div>
  </div>
  
</body>
</html>